<ion-view title="Inventario">
    <ion-nav-buttons side="right">
        <button class="button ion-paper-airplane button-clear" ng-click="saveInventory()"></button>
    </ion-nav-buttons>
    <ion-content padding="'true'" style="background: url(img/WY5H4QubRBumgb9dVIQ9_splash-bkg.jpg) no-repeat center;" class="has-header">
        <form class="list">
            <label class="item item-input" id="searchField" name="Search" focus-me focus-me-disable={{disableFlag}}>
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Articolo" ng-model="form.searchString">
            </label>
            <div class="spacer" style="width: 300px; height: 21px;"></div>
            <ion-toggle toggle-class="toggle-positive" name="BarcodeToggle" ng-model="form.barcodeToggle" ng-checked="form.barcodeToggle">Barcode</ion-toggle>
            <button class="button button-positive button-block button-large icon-left ion-ios-barcode-outline" ng-click="getItem(form.searchString, form.barcodeToggle)">Vai</button>
        </form>
        <ion-list>
            <ion-item ng-repeat="item in inventory" class="item-icon-right">

                <span class="badge badge-assertive">{{ item.qty }}</span>

                <h2>{{item.codiceArticolo}}</h2>

                <h3>{{item.descrizione}}</h3>

                <p>{{item.codForn1}} - {{item.codForn2}}</p>

                <p>{{item.fornitoreArticolo}}</p>

                <ion-option-button class="button-positive" ng-click="ModifyQty($index)">
                    Modifica
                </ion-option-button>

                <ion-option-button class="button-assertive" ng-click="removeItem(item, $index)">
                    Elimina
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>