<div class="modal">
    <!-- MOdal header bar-->
    <ion-header-bar class="bar-secondary">
        <h1 class="title">Risultati ricerca</h1>
        <button class="button button-clear button-positive" ng-click="cancelSearchResultsModal()">Annulla</button>
    </ion-header-bar>

    <!-- modal content area-->
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="item in searchList" class="item-icon-right"  ng-click="selectItemFromSearch($index)">

                <h2>{{item.codiceArticolo}}</h2>

                <p>{{item.descrizione}}</p>

                <p>{{item.fornitoreArticolo}}</p>

            </ion-item>
        </ion-list>
    </ion-content>
</div>